# Database
DATABASE_URL="postgresql://user:password@localhost:5432/give?schema=public"

# Stripe
STRIPE_SECRET_KEY="sk_test_..."
STRIPE_PUBLISHABLE_KEY="pk_test_..."
STRIPE_WEBHOOK_SECRET="whsec_..."

# App
NEXT_PUBLIC_API_URL="http://localhost:3001"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
PORT=3001

# Resend
RESEND_API_KEY="re_..."
FROM_EMAIL="receipts@give.to"